In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import numpy as np
import seaborn as sns
from string import printable
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from statsmodels.formula.api import ols
from patsy import dmatrices
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")
pd.options.display.max_columns=100
pd.options.display.max_rows=100

In [35]:
share_df=pd.read_csv('data/share-of-population-urban.csv')
print(share_df.dtypes)
print(share_df.shape)
share_df.head()

Entity              object
Code                object
Year                 int64
Urban_Population    object
dtype: object
(15072, 4)

        Entity Code  Year Urban_Population
0  Afghanistan  AFG  1960            8.401
1  Afghanistan  AFG  1961            8.684
2  Afghanistan  AFG  1962            8.976
3  Afghanistan  AFG  1963            9.276
4  Afghanistan  AFG  1964            9.586

In [43]:
taxes_df=pd.read_csv('data/taxes-on-incomes-of-individuals-and-corporations-gdp.csv')
print(taxes_df.shape)
print(taxes_df.dtypes)
taxes_df.head(15)

(4871, 4)
Entity              object
Code                object
Year                 int64
Tax_Percent_GDP    float64
dtype: object

         Entity Code  Year  Tax_Percent_GDP
0   Afghanistan  AFG  2003         0.165953
1   Afghanistan  AFG  2004         0.411647
2   Afghanistan  AFG  2005         0.320864
3   Afghanistan  AFG  2006         1.261181
4   Afghanistan  AFG  2007         1.323461
5   Afghanistan  AFG  2008         1.664719
6   Afghanistan  AFG  2009         2.608631
7   Afghanistan  AFG  2010         2.563413
8   Afghanistan  AFG  2011         2.573097
9   Afghanistan  AFG  2012         2.477800
10  Afghanistan  AFG  2013         2.477882
11  Afghanistan  AFG  2014         2.797326
12  Afghanistan  AFG  2015         3.240423
13  Afghanistan  AFG  2016         1.909034
14  Afghanistan  AFG  2017         2.034525

Merging two csvs

In [ ]:
taxes_df.

In [40]:
df = taxes_df.merge(share_df, on=['Code','Year'], how='inner')
print(df.shape)
df.head(20)

(4827, 6)

       Entity_x Code  Year  Tax_Percent_GDP     Entity_y Urban_Population
0   Afghanistan  AFG  2003         0.165953  Afghanistan           22.353
1   Afghanistan  AFG  2004         0.411647  Afghanistan             22.5
2   Afghanistan  AFG  2005         0.320864            x           22.703
3   Afghanistan  AFG  2006         1.261181  Afghanistan           22.907
4   Afghanistan  AFG  2007         1.323461  Afghanistan           23.113
5   Afghanistan  AFG  2008         1.664719  Afghanistan            23.32
6   Afghanistan  AFG  2009         2.608631  Afghanistan           23.528
7   Afghanistan  AFG  2010         2.563413  Afghanistan           23.737
8   Afghanistan  AFG  2011         2.573097  Afghanistan           23.948
9   Afghanistan  AFG  2012         2.477800  Afghanistan            24.16
10  Afghanistan  AFG  2013         2.477882  Afghanistan           24.373
11  Afghanistan  AFG  2014         2.797326  Afghanistan           24.587
12  Afghanistan  AFG  2015         3.240423  Afghanistan           24.803
13  Afghanistan  AFG  2016         1.909034  Afghanistan            25.02
14  Afghanistan  AFG  2017         2.034525  Afghanistan            25.25
15      Albania  ALB  1992         2.503907      Albania           37.249
16      Albania  ALB  1993         3.072240      Albania           37.799
17      Albania  ALB  1997         1.084135      Albania           40.035
18      Albania  ALB  1998         1.662994      Albania           40.601
19      Albania  ALB  1999         2.328931      Albania           41.169

In [45]:
df['Entity']=df['Entity_x']
df=df[['Entity', 'Code', 'Year', 'Tax_Percent_GDP',
       'Urban_Population']]
df.head()

        Entity Code  Year  Tax_Percent_GDP Urban_Population
0  Afghanistan  AFG  2003         0.165953           22.353
1  Afghanistan  AFG  2004         0.411647             22.5
2  Afghanistan  AFG  2005         0.320864           22.703
3  Afghanistan  AFG  2006         1.261181           22.907
4  Afghanistan  AFG  2007         1.323461           23.113

In [46]:
#Save merged to .csv
df.to_csv('data/merged_social_data.csv')

Linear Regression